<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>老王</string>
		<key>city</key>
		<string>上海</string>
		<key>time</key>
		<string>下午 4:15</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小张</string>
		<key>city</key>
		<string>江苏</string>
		<key>time</key>
		<string>上午 9:30</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>花花</string>
		<key>city</key>
		<string>北京</string>
		<key>time</key>
		<string>上午 01:30</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>赵六</string>
		<key>city</key>
		<string>武汉</string>
		<key>time</key>
		<string>昨天</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>美美</string>
		<key>city</key>
		<string>杭州</string>
		<key>time</key>
		<string>昨天</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Julia</string>
		<key>city</key>
		<string>武汉</string>
		<key>time</key>
		<string>昨天</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>熊大</string>
		<key>city</key>
		<string>森林</string>
		<key>time</key>
		<string>前天</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>熊二</string>
		<key>city</key>
		<string>森林</string>
		<key>time</key>
		<string>前天</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>光头强</string>
		<key>city</key>
		<string>森林小屋</string>
		<key>time</key>
		<string>前天凌晨</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>狮子王</string>
		<key>city</key>
		<string>山顶</string>
		<key>time</key>
		<string>大前天</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大傻</string>
		<key>city</key>
		<string>未知</string>
		<key>time</key>
		<string>4天前</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>二傻</string>
		<key>city</key>
		<string>未知</string>
		<key>time</key>
		<string>4天前</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鳄鱼</string>
		<key>city</key>
		<string>越南</string>
		<key>time</key>
		<string>5天前</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小鳄</string>
		<key>city</key>
		<string>越南</string>
		<key>time</key>
		<string>5天前</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>老大</string>
		<key>city</key>
		<string>老挝</string>
		<key>time</key>
		<string>5天前</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>人妖</string>
		<key>city</key>
		<string>泰国</string>
		<key>time</key>
		<string>星期日</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>小妖</string>
		<key>city</key>
		<string>泰国</string>
		<key>time</key>
		<string>星期日</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>老妖</string>
		<key>city</key>
		<string>泰国</string>
		<key>time</key>
		<string>星期日</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>妖妖</string>
		<key>city</key>
		<string>泰国</string>
		<key>time</key>
		<string>星期日</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
	<dict>
		<key>name</key>
		<string>土豪</string>
		<key>city</key>
		<string>香港</string>
		<key>time</key>
		<string>08/08/08</string>
		<key>accessoryType</key>
		<string>icon_setting_about</string>
	</dict>
</array>
</plist>
